body {
  margin: 0;
  background-color: #2d333d;
}

h1.f0f {
  color: white;
  text-align: center;
}

img.f0f {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a.f0f {
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nav-bar {
  background: #212a3a;
  position: fixed;
  top: 0;
  width: 100%;
}

div.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.nav-bar li {
  float: left;
}

div.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.nav-bar li a:hover:not(.active) {
  background-color: #30194e;
}

div.nav-bar .active {
  background-color: #4a566b;
}

.about-description {
  padding: 20px;
  margin-top: 30px;
}

div.about-description p {
  text-align: center;
  font-size: large;
  color: white;
}

.dynamic-python-frame {
  padding: 20px;
  margin-top: 30px;
}

div.dynamic-python-frame iframe {
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 50px;
}